# Exclude all files except the "/addons" folder from exporting
# to facilitate the installation through the Godot AssetLib

/images             export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/icon.png           export-ignore
/LICENSE            export-ignore
/README.md          export-ignore
