
# Godot-specific ignores
.import/
default_env.tres
export.cfg
export_presets.cfg
project.godot

# Other addons
addons/*
!addons/aseprite_importer

# Test files
test/

# Aseprite source file
*.aseprite